@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Application Version 2</a>.</p>
    <p>THis is committed by kedargiri984 as testing</p>
</div>
